CompileFlags:
  Add:
    - -stdlib=libc++
    - -isystem/usr/include/c++/v1
    - -isystem/usr/include
  CompilationDatabase: "."

Index:
  Background: Build
  StandardLibrary: Yes

Diagnostics:
  Suppress: ["ovl_ambiguous_call", "ambiguous_reversed_operator"]
